{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Backlog</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Estimate</th>
                <td>{{ entity.estimate }}</td>
            </tr>
            <tr>
                <th>Realtime</th>
                <td>{{ entity.realtime }}</td>
            </tr>
            <tr>
                <th>Importance</th>
                <td>{{ entity.importance }}</td>
            </tr>
            <tr>
                <th>Howitsdemo</th>
                <td>{{ entity.howItsDemo }}</td>
            </tr>
            <tr>
                <th>Createdate</th>
                <td>{{ entity.createDate }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{{ entity.startDate }}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{{ entity.endDate }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('backlog') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('backlog_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('backlog_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
