{% extends "GhaenCollegeScrumBundle:Parent:administration_menu.html.twig" %}
{% block title %}
    <title>مدیریت پروژه</title>
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
     <style>.lblheight{height: 35px}
        .submit_footer{clear: both;padding-right: 40%}
    </style>
    {#<link href="{{ asset('bundles/scrumassets/css/tree_css/basic.css')}}" type="text/css" rel="stylesheet" />#}
    {#<script type="text/javascript" src="{{ asset('bundles/scrumassets/js/tree_js/enhance.js')}}"></script>#}
    {#<script type="text/javascript">#}
        {#// Run capabilities test#}
        {#enhance({#}
            {#loadScripts: [#}
                {#'{{ asset('bundles/scrumassets/js/tree_js/jquery.min.js')}}',#}
                {#'{{ asset('bundles/scrumassets/js/tree_js/jQuery.tree.js')}}',#}
                {#'{{ asset('bundles/scrumassets/js/tree_js/example.js')}}'#}
            {#],#}
            {#loadStyles: ['{{ asset('bundles/scrumassets/css/tree_css/enhanced.css')}}']#}
        {#});#}
    {#</script>#}
{% endblock %}
{% block container -%}
    <h1>لیست پروژه</h1>
    <fieldset>
        <legend>جستجو</legend>
    <form action="{{ path('project_search') }}" method="get" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{  form_widget(form._token) }}
        <div class="span4">
            {{ form_widget(form.productOwner) }}
            {{ form_widget(form.status) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.createDate) }}
            {{ form_errors(form.createDate) }}
            {{ form_widget(form.endDate) }}
            {{ form_errors(form.endDate) }}
        </div>
        <div class="span2">
            <label class="lblheight">
                {{"project.Productowner"|trans({},"project","fr") }}
            </label>
            <label class="lblheight">
                {{"project.Status"|trans({},"project","fr") }}
            </label>
            <label class="lblheight">
                {{"project.Description"|trans({},"project","fr") }}
            </label>
            <label class="lblheight">
                {{"project.Createdate"|trans({},"project","fr") }}
            </label>
            <label class="lblheight">
                {{"project.Enddate"|trans({},"project","fr") }}
            </label>
        </div>
        <div class="span4">
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.schedule) }}
            {{ form_widget(form.parent) }}
            {{ form_widget(form.startDate) }}
            {{ form_errors(form.startDate) }}
            {{ form_widget(form.builder) }}
        </div>
        <div class="span2">
            <label class="lblheight">
                {{"project.Title"|trans({},"project","fr") }}
            </label>
            <label class="lblheight">
                {{"project.Schedule"|trans({},"project","fr") }}
            </label>
            <label class="lblheight">
                {{"project.Parent"|trans({},"project","fr") }}
            </label>
            <label class="lblheight">
                {{"project.Startdate"|trans({},"project","fr") }}
            </label>
            <label class="lblheight">
                {{"project.Builder"|trans({},"project","fr") }}
            </label>
        </div>

        {#{{ form_widget(form) }}#}
        <div  class="submit_footer">
            <button class="btn btn-success" type="submit">جستجو</button>
            <a  class="btn bfont" href="{{ path('project') }}">
                بازگشت به لیست پروژه ها
            </a>
        </div>

    </form>

    </fieldset>
    <h1>نتایج جستجو</h1>

    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="box-container-toggle">
                    <div class="box-content">
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered bootstrap-datatable" id="datatable">
                            <thead>
                            <tr>
                                <th>کد</th>
                                <th>عنوان</th>
                                <th>توضیحات</th>
                                <th>تاریخ ساخت</th>
                                <th>تاریخ شروع</th>
                                <th>تاریخ پایان</th>
                                <th>پروژه پدر</th>
                                <th>وضعیت</th>
                                <th>زمانبندی</th>
                                <th>سازنده</th>
                                {#<th> پدر</th>#}
                                <th>مالک پروژه</th>
                                {#<th>ارجاع</th>#}
                                <th>عملیات</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                        <td>{{ entity.title }}</td>
                                        <td>{{ entity.description }}</td>
                                        <td>{{ entity.createDate }}</td>
                                        <td>{{ entity.startDate }}</td>
                                        <td>{{ entity.endDate }}</td>
                                        <td>{{ entity.parent }}</td>
                                        <td>{{ entity.status }}</td>
                                        <td>{{ entity.schedule }}</td>
                                        <td>{{ entity.builder }}</td>
                                        {#<td>{{ entity.parent }}</td>#}
                                        <td>{{ entity.productOwner }}</td>
                                        <td>
                                            <a class="btn btn-success" href="{{ path('project_show', { 'id': entity.id }) }}">مشاهده  <i class="icon-zoom-in icon-white"></i></a>
                                            <a class="btn btn-info" href="{{ path('project_edit', { 'id': entity.id }) }}">ویرایش      <i class="icon-edit icon-white"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="navigation">
                            {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('project_new') }}">
                ایجاد پروژه جدید
            </a>
        </li>
    </ul>
{% endblock %}
