{% extends "GhaenCollegeScrumBundle:Parent:layout.html.twig" %}

{% block stylesheet -%}
    <style>
        .centerclass{text-align: center}
    </style>
{% endblock %}
{% block container %}
    <h1>لیست زمانبندی ها</h1>
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-container-toggle">
                <div class="box-content">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered bootstrap-datatable" id="datatable">
                        <thead>
                        <tr>
                            <th class="centerclass">کد</th>
                            <th class="centerclass">عنوان</th>
                            <th class="centerclass">طول</th>
                            <th class="centerclass">فاصله</th>
                            <th class="centerclass">توضیحات</th>
                            <th class="centerclass">عملیات</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('schedule_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{{ entity.title }}</td>
                                <td>{{ entity.length }}</td>
                                <td>{{ entity.gap }}</td>
                                <td>{{ entity.description }}</td>
                                <td>
                                    <a class="btn btn-success" href="{{ path('schedule_show', { 'id': entity.id }) }}">مشاهده  <i class="icon-zoom-in icon-white"></i></a>
                                    <a class="btn btn-info" href="{{ path('schedule_edit', { 'id': entity.id }) }}">ویرایش      <i class="icon-edit icon-white"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


        <ul>
        <li>
            <a href="{{ path('schedule_new') }}">
                ایجاد زمانبندی جدید
            </a>
        </li>
    </ul>
    {% endblock %}
