{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Test list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Setup</th>
                <th>Inputs</th>
                <th>Setps</th>
                <th>Expectedresult</th>
                <th>Actualresult</th>
                <th>Estimate</th>
                <th>Createdate</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('test_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.setup }}</td>
                <td>{{ entity.inputs }}</td>
                <td>{{ entity.setps }}</td>
                <td>{{ entity.expectedResult }}</td>
                <td>{{ entity.actualResult }}</td>
                <td>{{ entity.estimate }}</td>
                <td>{{ entity.createDate }}</td>
                <td>{{ entity.startDate }}</td>
                <td>{{ entity.endDate }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('test_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('test_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('test_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
